html {
    font-family: Arial;
    font-size: 16px;
}
body {
    line-height: 1.4em;
}
 #accordion {
    display: flex;
    flex-direction: column;
    background-color: #144b7a;
 }
#accordion div {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: white;
    margin: 0.6em 2em 0.6em 2em;
}
#accordion h1, #info h1{
    font-family: 'Montserrat', sans-serif;
    margin: 15px 15px 15px 15px;
    font-size: 15px;
    color: white;
    text-transform: uppercase;
}

#accordion h1 {
    border-top: 1px solid white;
}

#map {
    height: 100vh;
}
#upload {
    overflow-y: auto;
    transition: opacity .5s;
    opacity: 1;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    height: 15vw;
    width: 100vw;
    background-color: #144b7a;
    padding: 1em;
    z-index: 102;
}

#upload > label {
    background-color: white;
    padding: 5px;
    color: #144b7a;
    border-radius: 10px;
}
 .marker {
     display: block;
     cursor: pointer;
     background-image: url(../img/marker.svg); /* should be 20px by 20px, important for offset!! */
     background-size: contain;
     width:20px;
     height:20px;
 }
<<<<<<< HEAD
 
=======

 /* input field */

>>>>>>> 18d05e3c8e853a5a501d23bc1fe0e8419bf39109
 .inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
<<<<<<< HEAD
.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: red;
}
.inputfile + label {
	cursor: pointer; /* "hand" cursor */
=======

.inputfile + label {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9em;
    font-weight: 700;
    color: white;
    background-color: #144b7a;
    display: inline-block;
}

.inputfile + label {
	cursor: pointer; 
>>>>>>> 18d05e3c8e853a5a501d23bc1fe0e8419bf39109
}
