html {
    font-family: Arial;
    font-size: 16px;
}
body {
    line-height: 1.4em;
}
 #accordion {
    display: flex;
    flex-direction: column;
    background-color: #ececec;
 }
#accordion div {
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    color: black;
    margin: 0.6em 2em 0.6em 2em;
}
#accordion h1, #info h1{
    font-family: 'Arial', sans-serif;
    margin: 15px 15px 15px 15px;
    font-size: 15px;
    color: #d43b46;
    text-transform: uppercase;
}

#map {
    height: 100vh;
}
#upload {
    overflow-y: auto;
    transition: opacity .5s;
    opacity: 1;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    height: 45vw;
    width: 100vw;
    background-color: rgba(212, 58, 58, 0.5);
    padding: 2.5em;
    z-index: 102;
    text-align: center;
}

#upload > label {
    width: 200px;
    background-color: #d43b46;
    padding: 5px;
    color: white;
}
 .marker {
     display: block;
     cursor: pointer;
     background-image: url(../img/marker.svg); /* should be 20px by 20px, important for offset!! */
     background-size: contain;
     width:20px;
     height:20px;
 }

 /* input field */

 .inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    font-family: 'Arial', sans-serif;
    font-size: 0.9em;
    font-weight: 700;
    color: white;
    background-color: #144b7a;
    display: inline-block;
}

.inputfile + label {
	cursor: pointer; 
}
